@model IEnumerable<ModelosOrganizacion.TareaProyecto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="ViewBag.IdProyecto">Crear una nueva Tarea</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tarea.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarea.Funcionalidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarea.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarea.Funcionalidad)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <div class="alert alert-warning text-center">No se encontraron tareas para este proyecto</div>
        }
    </tbody>
</table>
